.root {
  -fx-background-color: #202324;
  -fx-text-background-color: #e5e4e2;
}

.table-view {
  -fx-background-color: #202324;
  -fx-text-background-color: #e5e4e2;
}

.table-view .column-header,
.table-view .filler {
  -fx-background-color: #202324;
  -fx-text-background-color: #e5e4e2;
}

.table-view .table-column {
  -fx-font-size: 18;
  -fx-text-alignment: CENTER;
  -fx-alignment: CENTER;
}

.table-row-cell {
  -fx-background-color: linear-gradient(to right, #53a2be, #a9ffcb);
}

.table-row-cell:odd {
  -fx-text-background-color: black;
  -fx-font-style: italic;
  -fx-font-weight: 600;
}

.table-row-cell:even {
  -fx-text-background-color: black;
  -fx-font-style: italic;
  -fx-font-weight: 600;
}

.table-row-cell:selected {
  -fx-background-color: rgba(84, 227, 96, 0.808);
  -fx-text-background-color: black;
}

.table-view .column-header .label {
  -fx-text-background-color: #e5e4e2;
  -fx-font-weight: bold;
  -fx-font-size: 20;
  -fx-text-alignment: CENTER;
  -fx-alignment: CENTER;
}

.table-view .increment-button,
.table-view .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: black;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
  -fx-background-color: white;
  -fx-background-insets: 2, 0, 0;
}
